<% layout("/layouts/boilerplate") -%>

<body>
  <br />
  <div class="row">
    <div class="col-8 offset-2">
      <h3>Create a New Listing</h3>
      <br />
      <form
        method="POST"
        action="/listings"
        novalidate
        class="needs-validation"
      >
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input
            name="listing[title]"
            placeholder="Add a catchy title"
            type="text"
            class="form-control"
            required
          />
          <div class="valid-feedback">
            <!-- this will apear if we complete that validatons -->
            Tittle looks good!
          </div>
          <div class="invalid-feedback">Please enter Tittle</div>
        </div>
        <div class="mb-3">
          <label for="description" class="form-label">Description</label>
          <textarea
            rows="5"
            cols="3"
            name="listing[description]"
            placeholder="enter brief detail of yout listing"
            type="text"
            class="form-control"
            required
          ></textarea>
          <div class="invalid-feedback">Please enter a short description</div>
        </div>
        <div class="mb-3">
          <label for="image" class="form-label">Image URL</label>
          <input
            name="listing[image][url]"
            placeholder="enter image URL/Link"
            type="text"
            class="form-control"
          />
        </div>

        <div class="row">
          <div class="mb-3 col-md-4">
            <label for="price" class="form-label">Price</label>
            <input
              name="listing[price]"
              placeholder="enter Price"
              type="number"
              class="form-control"
              required
            />

            <div class="invalid-feedback">Price should be Valid!</div>
          </div>
          <div class="mb-3 col-md-8">
            <label for="country" class="form-label">Country</label>
            <input
              name="listing[country]"
              placeholder="enter country"
              type="text"
              class="form-control"
              required
            />
            <div class="invalid-feedback">Please enter the country name</div>
          </div>
        </div>
        <div class="mb-3">
          <label for="location" class="form-label">Location</label>
          <input
            name="listing[location]"
            placeholder="enter location"
            type="text"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Please enter the location!</div>
        </div>
        <button
          class="btn btn-dark"
          style="background-color: #fe424d !important; border: none !important"
        >
          Add
        </button>
        <br />
      </form>
    </div>
  </div>
  <br />
  <br />
</body>
